<div id="module-container"><!-- start #module-container -->
  <div id="module-background-holder">
    <div id="module-background-solid1" class="opacity_0"></div>
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-full-width-gallery"  class="module-full-width-gallery " > <!-- .shadow-side-all-->
      <div id="module-full-width-holder">

        <!-- Thumbnail images -->

        <!--
        <div class="zoom-gallery"></div> - for images
        <div class="play-gallery"></div> - for videos
      -->

      <!-- Thumbnail image 1 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/clownfish animation - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Clownfish Animation</p></div>
        </div>
      </div>

      <!-- Thumbnail image 2 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/Frosty Holiday Card - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Frosty Holiday Card</p></div>
        </div>
      </div>

      <!-- Thumbnail image 3 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/pixelated self portrait - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Pixelated Self Portrait</p></div>
        </div>
      </div>

      <!-- Thumbnail image 4 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/ISE Pac Pizza Race - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>ISE Pac Pizza Race</p></div>
        </div>
      </div>

      <!-- Thumbnail image 5 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/ISE Flash 3d poster carousel - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>ISE Flash 3d poster carousel</p></div>
        </div>
      </div>


      <!-- Thumbnail image 6 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/Next Level Global - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Next Level Global Flash website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 7 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/Nico Jewels - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Nico Jewels Flash website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 8 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/Alien Peace - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Alien Peace</p></div>
        </div>
      </div>

      <!-- Thumbnail image 9 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/Mr. Potato Head - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Mr. Potato Head</p></div>
        </div>
      </div>

      <!-- Thumbnail image 10 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/Crazy Cuckoo Clock - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Crazy Cuckoo Clock</p></div>
        </div>
      </div>

      <!-- Thumbnail image 11 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/Clear Sailing Thesis video paths 1 & 2 - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Clear Sailing Thesis video paths 1 & 2</p></div>
        </div>
      </div>

      <!-- Thumbnail image 12 -->
      <div class="full-width-item">
        <img src="images/media/animations/2D_animations/thumbs/Santa Card - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div>
          <div class="item-title"><p>Santa Card Game</p></div>
        </div>
      </div>




      <!-- END Thumbnails -->

    </div>
  </div>

  <!-- end all Thumbnail code -->

</div>
<div id="module-scrollbar-holder_v2">
  <div id="module-scrollbar-background" class="opacity_8"></div>
  <div id="module-scrollbar-dragger"></div>
</div>

<div id="full-width-preview"><!-- start .full-width-preview" -->
  <div class="full-width-preview-background opacity_9_7"></div>
  <div id="full-width-preview-media-holder">
    <div class="full-width-preview-media-holder-background opacity_0"></div>
    <div class="full-width-preview-media-loader"></div>
    <div id="preview-media-holder">
      <!--<div id="link" data-url="http://www.google.com" data-target="_blank"></div>-->

      <!-- for video links:
      <div id="video-wrapper" data-video-type="vimeo" data-width="640" data-height="390"
      data-url="http://player.vimeo.com/video/31423544?portrait=0&color=ffffff"></div>
    -->

    <!-- Large website images -->



    <!-- Clownfish animation 1x- 500x361, 664x480 1240x896 - video 1 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="480"
    data-url="http://player.vimeo.com/video/75936121?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="664" height="480"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Frosty Holiday Card - 500x261, 664x346 1270x663 - video 1 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="346"
    data-url="http://player.vimeo.com/video/75936120?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="261"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Pixelated Self Portrait- 500x826, 540x892 - video 1 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="540" data-height="892"
    data-url="http://player.vimeo.com/video/75936124?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="540" height="892"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- ISE Pac Pizza Race - 664x245- video 1 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="436"
    data-url="http://player.vimeo.com/video/76026011?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="664" height="436"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- ISE Flash 3d poster carousel - 664x245- video 1 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="245"
    data-url="http://player.vimeo.com/video/76025965?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="664" height="245"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Next Level Global Flash website - 500x826, 540x892 , 840x996- video 1 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="840" data-height="996"
    data-url="http://player.vimeo.com/video/76025907?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="840" height="551"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Nico Jewels Flash website - 500x826, 540x892 , 840x996- video 1 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="840" data-height="996"
    data-url="http://player.vimeo.com/video/76025864?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="664" height="787"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Alien Piece - 500x361, 664x480 or 1240x896 - video 2 --->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="480"
    data-url="http://player.vimeo.com/video/75936119?byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="361"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Mr. Potato Head - 664x245- video 1 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="480"
    data-url="http://player.vimeo.com/video/76109137?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="664" height="480"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Cuckoo clock - 500x361, 664x480 or 1240x895 - video 3 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="480"
    data-url="http://player.vimeo.com/video/75927704?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="361"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Clear Sailing Thesis videos 1 & 2 - 500x361, 664x479 or 1240x895- video 4 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="479"
    data-url="http://player.vimeo.com/video/75927702?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="361"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>

    <!-- Santa Card Game - 500x330, 664x438 or 1240x818 - video 5 -->
    <div id="video-wrapper" data-video-type="vimeo" data-width="664" data-height="438"
    data-url="http://player.vimeo.com/video/75927703?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="330"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>





    <!-- END Website images -->

  </div>
</div>
<div class="preview-arrow-close">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-close-sign"></div>
</div>
<div class="preview-arrow-backward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-backward-sign"></div>
</div>
<div class="preview-arrow-forward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-forward-sign"></div>
</div>
<div class="preview-smartphone-info">
  <div class="preview-smartphone-info-backg opacity_1"></div>
  <span class="show_info">SHOW INFO</span>
  <span class="hide_info">HIDE INFO</span>
</div>

<!-- Right image description -->
<div id="full-width-preview-info-holder" class="module-position-rc">
  <div id="full-width-info-container" class="full-width-info-container shadow-side-left">
    <div class="full-width-info-holder">



      <!-- Right video description 1 -->
      <div class="full-width-info-holder-desc">
        <p>Clownfish Animation</p>
        <div class="custom-separator"></div>
        <span>Medium: Flash, Sound Forge</span>
        <span>Size: Vector</span>
        <span>Clownfish I created by seperately creating many gills and animating each and every gill seperately to make it look like
          the fish was swimming from right to left.</span>

          <span>I recorded this Flash animation using a screen recording program</span>
        </div>

        <!-- Right video description 2 -->
        <div class="full-width-info-holder-desc">
          <p>Frosty Holiday Card</p>
          <div class="custom-separator"></div>
          <span>Medium: Flash, Sound Forge</span>
          <span>Size: Vector</span>
          <span>Flash animation of Frosty the snowman. I wanted to illustrate a picturesque winter scene with Frosty. With the help of a tutorial,
            I programmed the snow to populate and blow in the opposite direction of the mouse location.</span>

            <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
          </div>

          <!-- Right video description 3 -->
          <div class="full-width-info-holder-desc">
            <p>Pixelated Self Portrait</p>
            <div class="custom-separator"></div>
            <span>Medium: Flash</span>
            <span>Size: Vector</span>
            <span>Inspiored by Chuck Close and Georges Seurat, I created my own animated pixelated self portrait. Using a photo as a guide,
              I created 464 various shades of skin, hair, shirt, and white colored circlesAll 464 colors have their own layers each having
              3-300 circles making up my portrait.</span>

              <span>I recorded this Flash animation using a screen recording program.</span>
            </div>

            <!-- Right video description 4 -->
            <div class="full-width-info-holder-desc">
              <p>ISE Pac Pizza Race</p>
              <div class="custom-separator"></div>
              <span>Medium: Flash</span>
              <span>Size: Vector</span>
              <span>I created this Flash animation for the International Securities Exchange (ISE) for an internal contest.
                The animation was updated weekly to see which department was leading in weekly submissions.</span>

                <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
              </div>

              <!-- Right video description 5 -->
              <div class="full-width-info-holder-desc">
                <p>ISE Flash 3d poster carousel</p>
                <div class="custom-separator"></div>
                <span>Medium: Flash, Photoshop</span>
                <span>Size: Vector</span>
                <span>I created this Flash 3d poster carousel for the International Securities Exchange (ISE). They provided me with all
                  high resolution posters and using a Flash tutorial for a basic carousel programmed my own. I created sound effects, created
                  thumbnail posters, ActionScript coding and HTML.</span>

                  <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                </div>

                <!-- Right video description 6 -->
                <div class="full-width-info-holder-desc">
                  <p>Next Level Global Flash website</p>
                  <div class="custom-separator"></div>
                  <span>Medium: Flash, Photoshop, Dreamweaver, Sound Forge</span>
                  <span>Size: Vector</span>
                  <span>This website was for DJ Kay Slay from Hot 97. I created 5 Flash animations for his website, ActionScripting, sound editing,
                    HTML, and image optimization.</span>

                    <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                    <span>Note there was some video delay in recording animation; sound was perfectly in sync with animation and animation was smooth.</span>
                  </div>

                  <!-- Right video description 7 -->
                  <div class="full-width-info-holder-desc">
                    <p>Nico Jewels Flash website</p>
                    <div class="custom-separator"></div>
                    <span>Medium: Flash, Photoshop, Dreamweaver</span>
                    <span>Size: Vector</span>
                    <span>This website was for a jewelry designer. I created all Flash animation, ActionScripting, sounds and made a port
                      Flash/HTML website with the content.</span>

                      <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                    </div>

                    <!-- Right video description 8 -->
                    <div class="full-width-info-holder-desc">
                      <p>Alien Peace</p>
                      <div class="custom-separator"></div>
                      <span>Medium: Flash</span>
                      <span>Size: Vector</span>
                      <span>Flash animation of an alien making the live long and prosper sign.</span>

                      <span>I recorded this Flash animation using a screen recording program.</span>
                    </div>

                    <!-- Right video description 9 -->
                    <div class="full-width-info-holder-desc">
                      <p>Mr. Potato Head</p>
                      <div class="custom-separator"></div>
                      <span>Medium: Flash</span>
                      <span>Size: Vector</span>
                      <span>I created this fun interactive Flash animation demonstrating moving vector shapes on screen to make a custom
                        Mr. Potato Head. You can move pieces except for the body, click pieces to have pieces fit to a predesignated area
                        or reset the pieces to make a new toy.</span>

                        <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                      </div>

                      <!-- Right video description 10 -->
                      <div class="full-width-info-holder-desc">
                        <p>Crazy Cuckoo Clock</p>
                        <div class="custom-separator"></div>
                        <span>Medium: Flash</span>
                        <span>Size: Vector</span>
                        <span>I created this Crazy Cuckoo Clock to get the system time in hours, minutes and seconds with ActionScript rotating
                          the piece in increments. It goes cuckoo every second because it's crazy. Did all illustration, animation and used
                          ActionScript for programming.</span>

                          <span>I recorded this Flash animation using a screen recording program.</span>
                        </div>

                        <!-- Right video description 11 -->
                        <div class="full-width-info-holder-desc">
                          <p>Clear Sailing Thesis video paths 1 & 2</p>
                          <div class="custom-separator"></div>
                          <span>Medium: Flash, Photoshop, Illustrator, Sound Forge, Cue Base, Final Cut Pro</span>
                          <span>Size: Vector</span>
                          <span>This was my SVA Thesis animation for graduation. It's a choose your own adventure interactive cartoon where the user
                            is given paths each time the roach is attacked. The story has 1 beginning, 2 endings and 16 possible pathways. I came up with a
                            story that used a roach which I knew people would dislike. He travels throughout New York City in search of a way to be reunited
                            with his family at Yankee Stadium. Along the way, he is attacked and the story presents itself with 2 possible directions.</span>

                            <span>I spent 6 months creating this animation doing all storyboarding, drawing, illustration, sound recording and editing,
                              hired a composer, used friends/family for voice talent and programmed it to be interactive in ActionScript. The entire animation
                              consists of 50 Flash swf files stitched together to make 1 long animation about 9 minutes and 45 seconds. In 2001, this video was
                              shown in the Dusty Film Festival at the Ziegfeld Theater in New York City.</span>

                              <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                            </div>

                            <!-- Right video description 12 -->
                            <div class="full-width-info-holder-desc">
                              <p>Santa Card Game</p>
                              <div class="custom-separator"></div>
                              <span>Medium: Macromedia Director, Sound Forge</span>
                              <span>Size: </span>
                              <span>Interactive game I created using Macromedia Director and is heavily programmed in Lingo. You control Santa and are given 3 lives to
                                get Santa safely down the chimney. If you miss and depending on where you fall and hit, the end result is different.</span>

                                <span>I recorded this Director .dcr animation using a screen recording program along with mouse interaction.</span>
                              </div>




                              <!-- END Image Descriptions -->
                            </div>
                          </div>
                        </div>
                      </div><!-- end .full-width-preview" -->
                    </div><!-- end #module-container -->
