<div id="module-container" ng-controller="AboutUsCtrl"><!-- start #module-container -->
  <div id="module-background-holder" data-time="0"> <!-- data-time= number of seconds you want to pass until the backgrounds rotate -->
    <img src="images/media/about_us/about_us/backgroundAboutUs.jpg" class="module-background" id="module-background" alt="" />
    <!--        for initial right image and rotating background images are remmed out.       -->

    <!--		<div data-src="images/media/about_us/about_us/backgroundAboutUs3.jpg"></div> -->
    <!--        <div data-src="images/media/about_us/about_us/backgroundAboutUs2.jpg"></div> -->
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-text-page" class="module-about-us">
      <div id="module-wrapper">
        <div id="module-text-page-holder-about-us">
          <!--
          <div class="title-holder">
          <span class="title-text_normal">ABOUT</span>
        </div>
        <div class="custom-separator"></div>
      -->
      <!-- ONLY FOR MOBILE( used as back-up) :

      Set 'data-img-touch' bellow as a back-up(when using GIF)
      Beacause GIF don't play on iPhone so you can show an alternative JPG image.

      If you don't use GIF's then please disregard this comment!
    -->
    <div class="media-holder" data-img-touch="images/media/about_us/about_us/about_image.jpg"> <!-- for centered left image above description.-->

      <!-- YOU CAN USE animated GIF. Just replace the <img> src with a GIF -->
      <img src="images/media/about_us/about_us/about_image.jpg" width="100%" />
    </div>
    <div class="custom-separator"></div>
    <div class="main-text-holder">
      <p align="left">I am a skilled graphic designer able to enhance your design projects from beginning to completion. With years of experience designing
        company websites, Flash animations, photo retouching, image optimization, logo design, illustrations, pamphlets, brochures, posters,
        interactive Flash banners, to dabbing in sound editing, video editing and 3D Animation, my expertise would be a valuable asset to any company
        needing a designer.</p>

        <p align="left">I have a BFA in Computer Art and Art Education from the School of Visual Arts in Manhattan. Also have an MA from New York Institute
          Of Technology in Computer Art/3D Animation. Work as a freelance graphic designer for various companies and teach computer graphic classes at 4
          Colleges in New York City.</p>

        </div>
      </div>
    </div>
  </div>
  <div id="module-scrollbar-holder">
    <div id="module-scrollbar-background" class="opacity_4"></div>
    <div id="module-scrollbar-dragger"></div>
  </div>
</div>
</div><!-- end #module-container -->
