<div id="module-container"><!-- start #module-container -->
  <div id="module-background-holder">
    <div id="module-background-solid1" class="opacity_0"></div>
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-full-width-gallery"  class="module-full-width-gallery " > <!-- .shadow-side-all-->
      <div id="module-full-width-holder">

        <!-- Thumbnail images -->

        <!--
        <div class="zoom-gallery"></div> - for images
        <div class="play-gallery"></div> - for videos
      -->


      <!-- Thumbnail video image 1 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/ISE Homepage Banner - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>ISE Homepage Banner video</p></div>
        </div>
      </div>

      <!-- Thumbnail video image 2 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/ISE 3d poster carousel - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>ISE 3d poster carousel video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 3 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/ISE ads FX Options Trade Alerts - thumb.jpg" class="opacity_0"  alt=""/>
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>ISE ads FX Options Trade Alerts video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 4 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/ISE ads FX Options Site Alerts - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>ISE ads FX Options Site Alerts video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 5 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/ISE ads FX Options Virtual Trading Contest - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>ISE ads FX Options Virtual Trading Contest video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 6 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/The Paley Center for Media horizontal ads - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>The Paley Center for Media horizontal ads video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 7 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/The Paley Center for Media box ads - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>The Paley Center for Media square ads video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 8 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/The Paley Center for Media yellow ads - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>The Paley Center for Media yellow ads video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 9 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/Greater Than One Cialis ads - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>Greater Than One Cialis ads video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 10 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/Greater Than One NSCLC ads (male) - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>Greater Than One NSCLC ads (male) video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 11 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/Greater Than One NSCLC ads (female) - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>Greater Than One NSCLC ads (female) video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 12 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/1199 Child Care Fund ads - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>1199 Child Care Fund ads video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 13 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/Center For Reproductive Rights ads - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>Center For Reproductive Rights ads video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 14 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/Kohl Capital Associates ads - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>Kohl Capital Associates ads video</p></div>
        </div>
      </div>


      <!-- Thumbnail video image 15 -->
      <div class="full-width-item">
        <img src="images/media/banners/thumbs/The CMX Group ads - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="play-gallery"></div><!-- play video -->
          <div class="item-title"><p>The CMX Group ads video</p></div>
        </div>
      </div>

      <!-- END Thumbnails -->

    </div>
  </div>

  <!-- end all Thumbnail code -->

</div>
<div id="module-scrollbar-holder_v2">
  <div id="module-scrollbar-background" class="opacity_8"></div>
  <div id="module-scrollbar-dragger"></div>
</div>

<div id="full-width-preview"><!-- start .full-width-preview" -->
  <div class="full-width-preview-background opacity_9_7"></div>
  <div id="full-width-preview-media-holder">
    <div class="full-width-preview-media-holder-background opacity_0"></div>
    <div class="full-width-preview-media-loader"></div>
    <div id="preview-media-holder">
      <!--<div id="link" data-url="http://www.google.com" data-target="_blank"></div>-->

      <!-- for video links:
      <div id="video-wrapper" data-video-type="vimeo" data-width="640" data-height="390"
      data-url="http://player.vimeo.com/video/31423544?portrait=0&color=ffffff"></div>
    -->

    <!-- Large website images -->


    <!-- Website video 1 --><div id="video-wrapper" data-video-type="vimeo" data-width="482" data-height="640"
    data-url="http://player.vimeo.com/video/76190236?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="667"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 2 --><div id="video-wrapper" data-video-type="vimeo" data-width="686" data-height="290"
    data-url="http://player.vimeo.com/video/76025965?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="212"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 3 --><div id="video-wrapper" data-video-type="vimeo" data-width="969" data-height="1090"
    data-url="http://player.vimeo.com/video/76190082?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="563"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 4 --><div id="video-wrapper" data-video-type="vimeo" data-width="969" data-height="1090"
    data-url="http://player.vimeo.com/video/76190130?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="563"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 5 --><div id="video-wrapper" data-video-type="vimeo" data-width="969" data-height="1090"
    data-url="http://player.vimeo.com/video/76190191?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="627"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 6 --><div id="video-wrapper" data-video-type="vimeo" data-width="728" data-height="336"
    data-url="http://player.vimeo.com/video/76190329?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="234"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 7 --><div id="video-wrapper" data-video-type="vimeo" data-width="831" data-height="881"
    data-url="http://player.vimeo.com/video/76190367?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="469"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 8 --><div id="video-wrapper" data-video-type="vimeo" data-width="831" data-height="413"
    data-url="http://player.vimeo.com/video/76190431?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="252"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 9 --><div id="video-wrapper" data-video-type="vimeo" data-width="807" data-height="600"
    data-url="http://player.vimeo.com/video/76326961?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="372"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 10 --><div id="video-wrapper" data-video-type="vimeo" data-width="728" data-height="763"
    data-url="http://player.vimeo.com/video/76346323?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="526"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 11 --><div id="video-wrapper" data-video-type="vimeo" data-width="1014" data-height="600"
    data-url="http://player.vimeo.com/video/76346685?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="294"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 12 --><div id="video-wrapper" data-video-type="vimeo" data-width="507" data-height="600"
    data-url="http://player.vimeo.com/video/76326805?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="593"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 13 --><div id="video-wrapper" data-video-type="vimeo" data-width="728" data-height="697"
    data-url="http://player.vimeo.com/video/76190295?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="482"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 14 --><div id="video-wrapper" data-video-type="vimeo" data-width="981" data-height="578"
    data-url="http://player.vimeo.com/video/76190456?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="316"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- Website video 15 --><div id="video-wrapper" data-video-type="vimeo" data-width="740" data-height="382"
    data-url="http://player.vimeo.com/video/76197805?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="226"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></div>


    <!-- END Website images -->

  </div>
</div>
<div class="preview-arrow-close">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-close-sign"></div>
</div>
<div class="preview-arrow-backward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-backward-sign"></div>
</div>
<div class="preview-arrow-forward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-forward-sign"></div>
</div>
<div class="preview-smartphone-info">
  <div class="preview-smartphone-info-backg opacity_1"></div>
  <span class="show_info">SHOW INFO</span>
  <span class="hide_info">HIDE INFO</span>
</div>

<!-- Right image description -->
<div id="full-width-preview-info-holder" class="module-position-rc">
  <div id="full-width-info-container" class="full-width-info-container shadow-side-left">
    <div class="full-width-info-holder">





      <!-- Right video description 1 -->
      <div class="full-width-info-holder-desc">
        <p>ISE Homepage Banner</p>
        <div class="custom-separator"></div>
        <span>Medium: Flash, Photoshop</span>
        <span>Size: 482x298 pix</span>
        <span>These are 2 Flash animations I created for the International Securities Exchange. The 2nd animation was
          live on ISE's website for 1.5 - 2 years. </span>

          <span>I was given a flat image and told to animate it with searchlights. Had to create multiple laters in Photoshop
            and draw in parts of the buildings which were missing to get the 4 searchlights to work as the searchlights needed
            to be in front of and behind buildings as well as in behind the man/flag.</span>
          </div>

          <!-- Right image description 2 -->
          <div class="full-width-info-holder-desc">
            <p>ISE 3d poster carousel</p>
            <div class="custom-separator"></div>
            <span>Medium: Flash, Photoshop, Sound Forge</span>
            <span>Size: 686x290 pix</span>
            <span>This is a Flash animation I created for the Internatoinal Securitiess Exchange showcasing their posters.</span>

            <span>I was given 23 images of various posters and told by ISE that they wanted to create a visually appealing
              Flash animation that was interactive and displayed their posters. They wanted each poster to have its own description
              users could click on and created two sound effects for the click on and off. Using a template that I found and a lot
              of programming, I creataed this Flash 3d carousel using ActionScript, HTML, XML and JavaScript. It gets the user mouse
              position and rotates content in the opposite direction to the mouse location stopping and populatinig a popup on clicked
              posters.</span>

              <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>


            </div>

            <!-- Right image description 3 -->
            <div class="full-width-info-holder-desc">
              <p>ISE ads FX Options Trade Alerts</p>
              <div class="custom-separator"></div>
              <span>Medium: Flash, Photoshop.</span>
              <span>Size: Various sizes 120x60pix - 728x90pix</span>
              <span>These are 11 Flash animated banners I created at various sizes advertising FX Options Trade Alerts for the
                International Securities Exchange. They provided me images and a still of an idea of how they wanted it layed out.
                I took their content and optimized images, created vector art, text and animated. I coded each to link to a
                particular site and had invisable coded buttons.</span>
              </div>

              <!-- Right image description 4 -->
              <div class="full-width-info-holder-desc">
                <p>ISE ads FX Options Site Alerts</p>
                <div class="custom-separator"></div>
                <span>Medium: Flash, Photoshop.</span>
                <span>Size: Various sizes 120x60pix - 728x90pix</span>
                <span>These are 11 Flash animated banners I created at various sizes advertising FX Options Site Alerts for the
                  International Securities Exchange. They provided me images and a still of an idea of how they wanted it layed out.
                  I took their content and optimized images, created vector art, text and animated. I coded each to link to a
                  particular site and had invisable coded buttons.</span>
                </div>

                <!-- Right image description 5 -->
                <div class="full-width-info-holder-desc">
                  <p>ISE ads FX Options Virtual Trading Contest</p>
                  <div class="custom-separator"></div>
                  <span>Medium: Flash, Photoshop.</span>
                  <span>Size: Various sizes 120x60pix - 728x90pix</span>
                  <span>These are 11 Flash animated banners I created at various sizes advertising FX Options Virtual Trading Contest for the
                    International Securities Exchange. They provided me images and a still of an idea of how they wanted it layed out.
                    I took their content and optimized images, created vector art, text and animated. I coded each to link to a
                    particular site and had invisable coded buttons.</span>
                  </div>

                  <!-- Right video description 6 -->
                  <div class="full-width-info-holder-desc">
                    <p>The Paley Center for Media horizontal ads</p>
                    <div class="custom-separator"></div>
                    <span>Medium: Flash, Photoshop</span>
                    <span>Size: Various sizes</span>
                    <span>Three ads for the Paley Center for Media. These ads were shown on the LA Times and New York Times websites advertising
                      events at the center and ticket sales.</span>
                    </div>

                    <!-- Right image description 7 -->
                    <div class="full-width-info-holder-desc">
                      <p>The Paley Center for Media square ads</p>
                      <div class="custom-separator"></div>
                      <span>Medium: Flash, Photoshop</span>
                      <span>Size: Various sizes</span>
                      <span>Six ads for the Paley Center for Media. These ads were shown on the New York Times and Village Voice websites advertising
                        events at the Paley Center for Media. Three of these ads were interactive as I coded next and back buttons and all had invisable
                        buttons for click tags which gathered data on how many people clicked them.</span>

                        <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                      </div>

                      <!-- Right image description 8 -->
                      <div class="full-width-info-holder-desc">
                        <p>The Paley Center for Media yellow ads</p>
                        <div class="custom-separator"></div>
                        <span>Medium: Flash, Photoshop</span>
                        <span>Size: Various sizes</span>
                        <span>Three ads for the Paley Center for Media. These ads were shown on the New York Times and Village Voice websites advertising
                          events at the Paley Center for Media. Two of these ads have navigation buttons as well invisable buttons for click tags.</span>

                          <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                        </div>

                        <!-- Right image description 9 -->
                        <div class="full-width-info-holder-desc">
                          <p>Greater Than One Cialis ads</p>
                          <div class="custom-separator"></div>
                          <span>Medium: Flash, Photoshop</span>
                          <span>Size: Various sizes</span>
                          <span>Four interactive ads I made for Greater Than One design agency for Cialis. I was given flattened images and told to animate
                            characters, so I had to cut them up and animate. I was also given a video and embedded it in the last flash file and programmed the
                            video to play on rollover. File size was a large factor as the client originally wanted many more photographs, but the company
                            website file size restrictions were tight.</span>

                            <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                          </div>

                          <!-- Right image description 10 -->
                          <div class="full-width-info-holder-desc">
                            <p>Greater Than One NSCLC ads (male)</p>
                            <div class="custom-separator"></div>
                            <span>Medium: Flash, Photoshop</span>
                            <span>Size: Various sizes</span>
                            <span>Siz interactive Flash banners for Greater Than One design agency for NSCLC. I created three vertical and three horizontal ads at
                              client privided sizes. Each of these ads needed to be heavily optimised for filesize restrictions.</span>

                              <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                            </div>

                            <!-- Right image description 11 -->
                            <div class="full-width-info-holder-desc">
                              <p>Greater Than One NSCLC ads (female)</p>
                              <div class="custom-separator"></div>
                              <span>Medium: Flash, Photoshop</span>
                              <span>Size: Various sizes</span>
                              <span>Siz interactive Flash banners for Greater Than One design agency for NSCLC. I created five vertical and three horizontal ads at
                                client privided sizes. Each of these ads needed to be heavily optimised for filesize restrictions.</span>

                                <span>I recorded this Flash animation using a screen recording program along with mouse interaction.</span>
                              </div>

                              <!-- Right image description 12 -->
                              <div class="full-width-info-holder-desc">
                                <p>1199 Child Care Fund ads</p>
                                <div class="custom-separator"></div>
                                <span>Medium: Flash, Photoshop</span>
                                <span>Size: Various sizes</span>
                                <span>Three Flash ads for 1199 Child Care Fund organization.</span>
                              </div>

                              <!-- Right image description 13 -->
                              <div class="full-width-info-holder-desc">
                                <p>Center For Reproductive Rights ads</p>
                                <div class="custom-separator"></div>
                                <span>Medium: Flash, Photoshop.</span>
                                <span>Size: Various sizes</span>
                                <span>Three ads for the Center For Reproductive Rights. Each have invisible clickable buttons.</span>
                              </div>

                              <!-- Right image description 14 -->
                              <div class="full-width-info-holder-desc">
                                <p>Kohl Capital Associates ads</p>
                                <div class="custom-separator"></div>
                                <span>Medium: Flash, Photoshop.</span>
                                <span>Size: Various sizes</span>
                                <span>Three Flash banners I created for Kohl Capital Associates. The top banner is on the main page of their website I created
                                  as well as a slide show and testimonials.</span>
                                </div>

                                <!-- Right image description 15 -->
                                <div class="full-width-info-holder-desc">
                                  <p>CMX Group ads</p>
                                  <div class="custom-separator"></div>
                                  <span>Medium: Flash, Photoshop.</span>
                                  <span>Size: 740x180</span>
                                  <span>Two alternate ads I created for the CMX Group.</span>
                                </div>


                                <!-- END Image Descriptions -->
                              </div>
                            </div>
                          </div>
                        </div><!-- end .full-width-preview" -->
                      </div><!-- end #module-container -->
