<div id="module-container"><!-- start #module-container -->
  <div id="module-background-holder">
    <div id="module-background-solid2" class="opacity_0"></div>
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-wrapper">
      <div id="module-contact-container">
        <div id="media-holder-contact" data-src="images/media/contact/contact_image.jpg"></div>      <!--** This puts an image in its place -->

        <!--  ** This puts in a google map

        <div id="map-holder" data-address="Oxford Circus, London, United Kingdom" data-latitude="51.515259" data-longitude="-0.141882" data-icon="images/media/contact/contact_map_pin.png" data-size="60, 44" data-anchor="30,44">

      -->

      <div id="module-contact" class="module-position-no-shadow-lb">
        <div class="module-contact-background opacity_8"></div>
        <div id="module-contact-holder">

          <!--                            <div class="title-holder">
          <span class="title-text_normal">CONTACT</span>
        </div>
        <div class="custom-separator-careers"></div>
      -->
      <div class="contact-information">
        <!--	<div class="contact-information-title">
        <p>Get in touch:</p>
      </div>-->
      <div class="contact-information-details">
        <!-- <img src="images/media/contact/icons/icon_address.png" alt="" class="opacity_0" /> -->
        <p>
          Jeffrey Tome<br>
          New York, NY<br>
          <a href="http://www.linkedin.com/pub/jeffrey-tome/3/b4b/7b9" target="_blank" class="Link_Colors">LinkedIn Profile</a><br/>
        </p>
      </div>
      <div class="contact-information-details">
        <!--	<img src="images/media/contact/icons/icon_phone.png" alt="" class="opacity_0" /> -->
        <p>917-592-1116</p>
      </div>
      <div class="contact-information-details">
        <!--	<img src="images/media/contact/icons/icon_mail.png" alt="" class="opacity_0" /> -->
        <p>
          <a href="mailto:JeffTome2@aol.com?subject=Contact%20from%20website" class="Link_Colors">JeffTome2<br>@aol.com</a></p>
        </div>
        <div class="contact-information-details">
          <!-- 	  <img src="images/media/contact/icons/icon_PDF_resume.png" alt="" class="opacity_0" /> -->
          <p>
            <a href="resume/Jeffrey_Tome_Resume.pdf" class="Link_Colors">Resume</a></p>
          </div>

          <!-- contact form: -->
        </div>
        <div class="contact-form-holder">
          <form id="contact-form">
            <div class="form-input-half-left form-input-border">
              <div class="form-input-background opacity_2"></div>
              <input id="name" type="text" name="name" value="name *"/>
            </div>
            <div class="form-input-half-right form-input-border">
              <div class="form-input-background opacity_2"></div>
              <input id="email" type="text" name="email" value="email *"/>
            </div>
            <div class="form-input-large form-input-border">
              <div class="form-input-background opacity_2"></div>
              <input id="phone" type="text" name="phone" value="phone *"/>
            </div>
            <div class="form-input-textarea form-input-border">
              <div class="form-input-background opacity_2"></div>
              <textarea id="message" name="message">message *</textarea>
            </div>

            <div class="form-buttons">
              <div id="form-reset">
                <p>RESET</p>
              </div>
              <div id="form-send" data-sending-txt="SENDING...">
                <p>SEND</p>
              </div>

              <div id="response-form">
                <p>Message delivered! Thank You!</p>
                <span id="form-warning">PLEASE FILL ALL RQUIRED (*) FIELDS!</span>
                <span id="server-error"></span>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div><!-- end #module-wrapper -->
</div>
<div id="module-scrollbar-holder_v2">
  <div id="module-scrollbar-background" class="opacity_8"></div>
  <div id="module-scrollbar-dragger"></div>
</div>
</div><!-- end #module-container -->
