<div id="module-container"><!-- start #module-container -->
  <div id="module-background-holder">
    <div id="module-background-solid1" class="opacity_0"></div>
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-full-width-gallery"  class="module-full-width-gallery " > <!-- .shadow-side-all-->
      <div id="module-full-width-holder">

        <!-- Thumbnail images -->

        <!--
        <div class="zoom-gallery"></div> - for images
        <div class="play-gallery"></div> - for videos
      -->

      <!-- Thumbnail image 1 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Flower Vase 1 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Flower Vase #1</p></div>
        </div>
      </div>

      <!-- Thumbnail image 2 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Flower Vase 2 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Flower Vase #2</p></div>
        </div>
      </div>

      <!-- Thumbnail image 3 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Flower Vase 3 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Flower Vase #3</p></div>
        </div>
      </div>

      <!-- Thumbnail image 4 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/leaf - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Leaf</p></div>
        </div>
      </div>

      <!-- Thumbnail image 5 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Self portrait 5 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Self Portrait #5</p></div>
        </div>
      </div>

      <!-- Thumbnail image 6 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/geometric drawing 12 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Geometric Drawing #12</p></div>
        </div>
      </div>

      <!-- Thumbnail image 7 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Sweet 16 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Sweet 16</p></div>
        </div>
      </div>

      <!-- Thumbnail image 8 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/The Day School yearbook back cover - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>The Day School yearbook back cover</p></div>
        </div>
      </div>

      <!-- Thumbnail image 9 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/blonde model 7-7-07 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Blonde Model</p></div>
        </div>
      </div>

      <!-- Thumbnail image 10 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Woman With Flowers - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Woman With Flowers</p></div>
        </div>
      </div>


      <!-- Thumbnail image 11 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Nude Figure3 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Nude Figure #3</p></div>
        </div>
      </div>

      <!-- Thumbnail image 12 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/nude 10-11-07 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>nude 10-11-07</p></div>
        </div>
      </div>

      <!-- Thumbnail image 13 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Male model 2011 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Male model 2011</p></div>
        </div>
      </div>

      <!-- Thumbnail image 14 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Female Model Drawing 10-5-11 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Female Model Drawing 10-5-11</p></div>
        </div>
      </div>

      <!-- Thumbnail image 15 -->
      <div class="full-width-item">
        <img src="images/media/drawings/thumbs/Female Model Drawing 4-8-13 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Female Model Drawing 4-8-13</p></div>
        </div>
      </div>

      <!-- END Thumbnails -->

    </div>
  </div>

  <!-- end all Thumbnail code -->

</div>
<div id="module-scrollbar-holder_v2">
  <div id="module-scrollbar-background" class="opacity_8"></div>
  <div id="module-scrollbar-dragger"></div>
</div>

<div id="full-width-preview"><!-- start .full-width-preview" -->
  <div class="full-width-preview-background opacity_9_7"></div>
  <div id="full-width-preview-media-holder">
    <div class="full-width-preview-media-holder-background opacity_0"></div>
    <div class="full-width-preview-media-loader"></div>
    <div id="preview-media-holder">
      <!--<div id="link" data-url="http://www.google.com" data-target="_blank"></div>-->

      <!-- for video links:
      <div id="video-wrapper" data-video-type="vimeo" data-width="640" data-height="390"
      data-url="http://player.vimeo.com/video/31423544?portrait=0&color=ffffff"></div>
    -->

    <!-- Large website images -->

    <!-- Website image 1 --><div id="preview-media-image" data-url="images/media/drawings/images/Flower Vase 1.jpg" data-title="" data-alt="Custom Alt 4"></div>

    <!-- Website image 2 --><div id="preview-media-image" data-url="images/media/drawings/images/Flower Vase 2.jpg" data-title="" data-alt=""></div>

    <!-- Website image 3 --><div id="preview-media-image" data-url="images/media/drawings/images/Flower Vase 3.jpg" data-title="" data-alt=""></div>

    <!-- Website image 4 --><div id="preview-media-image" data-url="images/media/drawings/images/leaf.jpg" data-title="" data-alt=""></div>

    <!-- Website image 5 --><div id="preview-media-image" data-url="images/media/drawings/images/Self portrait 5.jpg" data-title="" data-alt=""></div>

    <!-- Website image 6 --><div id="preview-media-image" data-url="images/media/drawings/images/geometric drawing 12.jpg" data-title="" data-alt=""></div>

    <!-- Website image 7 --><div id="preview-media-image" data-url="images/media/drawings/images/Sweet 16.jpg" data-title="" data-alt=""></div>

    <!-- Website image 8 --><div id="preview-media-image" data-url="images/media/drawings/images/The Day School yearbook back cover.jpg" data-title="" data-alt=""></div>

    <!-- Website image 9 --><div id="preview-media-image" data-url="images/media/drawings/images/blonde model 7-7-07.jpg" data-title="" data-alt=""></div>

    <!-- Website image 10 --><div id="preview-media-image" data-url="images/media/drawings/images/Woman With Flowers.jpg" data-title="" data-alt=""></div>

    <!-- Website image 11 --><div id="preview-media-image" data-url="images/media/drawings/images/Nude Figure3.jpg" data-title="" data-alt=""></div>

    <!-- Website image 12 --><div id="preview-media-image" data-url="images/media/drawings/images/nude 10-11-07.jpg" data-title="" data-alt=""></div>

    <!-- Website image 13 --><div id="preview-media-image" data-url="images/media/drawings/images/Male model 2011.jpg" data-title="" data-alt=""></div>

    <!-- Website image 14 --><div id="preview-media-image" data-url="images/media/drawings/images/Female Model Drawing 10-5-11.jpg" data-title="" data-alt=""></div>

    <!-- Website image 15 --><div id="preview-media-image" data-url="images/media/drawings/images/Female Model Drawing 4-8-13.jpg" data-title="" data-alt=""></div>

    <!-- END Website images -->

  </div>
</div>
<div class="preview-arrow-close">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-close-sign"></div>
</div>
<div class="preview-arrow-backward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-backward-sign"></div>
</div>
<div class="preview-arrow-forward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-forward-sign"></div>
</div>
<div class="preview-smartphone-info">
  <div class="preview-smartphone-info-backg opacity_1"></div>
  <span class="show_info">SHOW INFO</span>
  <span class="hide_info">HIDE INFO</span>
</div>

<!-- Right image description -->
<div id="full-width-preview-info-holder" class="module-position-rc">
  <div id="full-width-info-container" class="full-width-info-container shadow-side-left">
    <div class="full-width-info-holder">

      <!-- Right image description 1 -->
      <div class="full-width-info-holder-desc">
        <p>Flower Vase #1</p>
        <div class="custom-separator"></div>
        <span>Medium: Charcoal Pencil</span>
        <span>Size: 18" x 24"</span>
        <span>Drawing of a flower arrangement.</span>
      </div>

      <!-- Right image description 2 -->
      <div class="full-width-info-holder-desc">
        <p>Flower Vase #2</p>
        <div class="custom-separator"></div>
        <span>Medium: Charcoal Pencil</span>
        <span>Size: 18" x 24"</span>
        <span>Drawing of a flower arrangement.</span>
      </div>

      <!-- Right image description 3 -->
      <div class="full-width-info-holder-desc">
        <p>Flower Vase #3</p>
        <div class="custom-separator"></div>
        <span>Medium: Charcoal Pencil</span>
        <span>Size: 18" x 24"</span>
        <span>Drawing of a flower arrangement.</span>
      </div>

      <!-- Right image description 4 -->
      <div class="full-width-info-holder-desc">
        <p>Leaf</p>
        <div class="custom-separator"></div>
        <span>Medium: Ink Pad and fingerprint</span>
        <span>Size: 18" x 24"</span>
        <span>Fingerprint drawing of a leaf.</span>
      </div>

      <!-- Right image description 5 -->
      <div class="full-width-info-holder-desc">
        <p>Self Portrait #5</p>
        <div class="custom-separator"></div>
        <span>Medium: Ink Pad and fingerprint</span>
        <span>Size: 9" x 12"</span>
        <span>Fingerprint self portrait inspired by Chuck Close.</span>
      </div>

      <!-- Right image description 6 -->
      <div class="full-width-info-holder-desc">
        <p>Geometric Drawing #12</p>
        <div class="custom-separator"></div>
        <span>Medium: Pen and Markers</span>
        <span>Size: 25.5" x 19"</span>
        <span>Geometrical drawing #12 in a series of 12.</span>
      </div>

      <!-- Right image description 7 -->
      <div class="full-width-info-holder-desc">
        <p>Sweet 16</p>
        <div class="custom-separator"></div>
        <span>Medium: Pen and Pencil</span>
        <span>Size: 6" x 8"</span>
        <span>One of a series of drawings in a book I illustrated depicting my pet bird flying away and me recovering him the next day.</span>
      </div>

      <!-- Right image description 8 -->
      <div class="full-width-info-holder-desc">
        <p>The Day School yearbook back cover</p>
        <div class="custom-separator"></div>
        <span>Medium: Oil on Canvas</span>
        <span>Size: 18" x 24"</span>
        <span>Published - Drawing for The Day School HS yearbook.</span>
      </div>

      <!-- Right image description 9 -->
      <div class="full-width-info-holder-desc">
        <p>Blonde Model</p>
        <div class="custom-separator"></div>
        <span>Medium: Charcoal pencil on brown paper</span>
        <span>Size: 9" x 12"</span>
        <span>Experimental drawing I did using brown paper and color charcoal pencils. 7-7-07</span>
      </div>

      <!-- Right image description 10 -->
      <div class="full-width-info-holder-desc">
        <p>Woman With Flowers</p>
        <div class="custom-separator"></div>
        <span>Medium: Charcoal pencil on brown paper</span>
        <span>Size: 9" x 12"</span>
        <span>Experimental drawing I did using brown paper and color charcoal pencils. 7-7-07</span>
      </div>

      <!-- Right image description 11 -->
      <div class="full-width-info-holder-desc">
        <p>Nude Figure #3</p>
        <div class="custom-separator"></div>
        <span>Medium: Ballpoint Pen</span>
        <span>Size: 9" x 12"</span>
        <span>Model drawing.</span>
      </div>

      <!-- Right image description 12 -->
      <div class="full-width-info-holder-desc">
        <p>Nude 10-11-07</p>
        <div class="custom-separator"></div>
        <span>Medium: Ballpoint Pen</span>
        <span>Size: 11" x 14"</span>
        <span>Model drawing I did on 10-11-07.</span>
      </div>

      <!-- Right image description 13 -->
      <div class="full-width-info-holder-desc">
        <p>Male Model 2011</p>
        <div class="custom-separator"></div>
        <span>Medium: Pencil and Ballpoint Pen</span>
        <span>Size: 11" x 14"</span>
        <span>Model drawing I did in 2011.</span>
      </div>

      <!-- Right image description 14 -->
      <div class="full-width-info-holder-desc">
        <p>Female Model Drawing 10-5-11</p>
        <div class="custom-separator"></div>
        <span>Medium: Pencil and blue Ballpoint Pen</span>
        <span>Size: 11" x 14"</span>
        <span>Model drawing I did on 10-5-11.</span>
      </div>

      <!-- Right image description 15 -->
      <div class="full-width-info-holder-desc">
        <p>Female Model Drawing 4-8-13</p>
        <div class="custom-separator"></div>
        <span>Medium: Blue Ballpoint Pen</span>
        <span>Size: 11" x 14"</span>
        <span>Female model drawing I did on 4-8-13.</span>
      </div>

      <!-- END Image Descriptions -->
    </div>
  </div>
</div>
</div><!-- end .full-width-preview" -->
</div><!-- end #module-container -->
