<div id="module-container"><!-- start #module-container -->
  <div id="module-background-holder">
    <div id="module-background-solid1"></div>
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-full-width-gallery"  class="module-full-width-gallery " > <!-- .shadow-side-all-->
      <div id="module-full-width-holder">

        <!-- Thumbnail images -->

        <!--
        <div class="zoom-gallery"></div> - for images
        <div class="play-gallery"></div> - for videos
      -->

      <!-- Thumbnail image 1 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/Whooping_Crane - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Whooping Crane Illustration</p></div>
        </div>
      </div>

      <!-- Thumbnail image 2 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/QRLF logo - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>QRLF Logo</p></div>
        </div>
      </div>

      <!-- Thumbnail image 3 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/QRLF 8 step registration process - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>QRLF 8 step registration process</p></div>
        </div>
      </div>

      <!-- Thumbnail image 4 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/QRLF 6 of 8 registration - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>QRLF step 6 closeup</p></div>
        </div>
      </div>

      <!-- Thumbnail image 5 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/QRLF 3 step found item process - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>QRLF 3 step found item process</p></div>
        </div>
      </div>

      <!-- Thumbnail image 6 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/Pixelated Self Portrait - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Pixelated Self Portrait</p></div>
        </div>
      </div>

      <!-- Thumbnail image 7 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/winter_scene - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Winter Scene</p></div>
        </div>
      </div>

      <!-- Thumbnail image 8 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/clownfish animation - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Clownfish Animation</p></div>
        </div>
      </div>

      <!-- Thumbnail image 9 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/ISE - Pac Pizza Race - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>ISE - Pac Pizza Race</p></div>
        </div>
      </div>

      <!-- Thumbnail image 10 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/Frosty_Holiday_Card - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Frosty Holiday Card</p></div>
        </div>
      </div>

      <!-- Thumbnail image 11 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/Hip - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Hip</p></div>
        </div>
      </div>

      <!-- Thumbnail image 12 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/cuckoo_clock_animation - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Cuckoo Clock</p></div>
        </div>
      </div>

      <!-- Thumbnail image 13 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/IOME logo - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>I.O.M.E. Logo</p></div>
        </div>
      </div>

      <!-- Thumbnail image 14 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/iGadget_Worx_logo - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>iGadget Worx Logo</p></div>
        </div>
      </div>

      <!-- Thumbnail image 15 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/Nico_Jewels_logo - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Nico Jewels Logo</p></div>
        </div>
      </div>

      <!-- Thumbnail image 16 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/Thesis still 1 - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Thesis still 1</p></div>
        </div>
      </div>

      <!-- Thumbnail image 17 -->
      <div class="full-width-item">
        <img src="images/media/illustrations/thumbs/Twin Towers - thumb.jpg"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Twin Towers</p></div>
        </div>
      </div>


      <!-- END Thumbnails -->

    </div>
  </div>

  <!-- end all Thumbnail code -->

</div>
<div id="module-scrollbar-holder_v2">
  <div id="module-scrollbar-background" class="opacity_8"></div>
  <div id="module-scrollbar-dragger"></div>
</div>

<div id="full-width-preview"><!-- start .full-width-preview" -->
  <div class="full-width-preview-background opacity_9_7"></div>
  <div id="full-width-preview-media-holder">
    <div class="full-width-preview-media-holder-background opacity_0"></div>
    <div class="full-width-preview-media-loader"></div>
    <div id="preview-media-holder">
      <!--<div id="link" data-url="http://www.google.com" data-target="_blank"></div>-->

      <!-- for video links:
      <div id="video-wrapper" data-video-type="vimeo" data-width="640" data-height="390"
      data-url="http://player.vimeo.com/video/31423544?portrait=0&color=ffffff"></div>
    -->

    <!-- Large website images -->

    <!-- Website image 1 --><div id="preview-media-image" data-url="images/media/illustrations/images/Whooping_Crane.jpg" data-title="" data-alt=""></div>

    <!-- Website image 2 --><div id="preview-media-image" data-url="images/media/illustrations/images/QRLF logo.jpg" data-title="" data-alt=""></div>

    <!-- Website image 3 --><div id="preview-media-image" data-url="images/media/illustrations/images/QRLF 8 step registration process.jpg" data-title="" data-alt=""></div>

    <!-- Website image 4 --><div id="preview-media-image" data-url="images/media/illustrations/images/QRLF 6 of 8 registration.jpg" data-title="" data-alt=""></div>

    <!-- Website image 5 --><div id="preview-media-image" data-url="images/media/illustrations/images/QRLF 3 step found item process.jpg" data-title="" data-alt=""></div>

    <!-- Website image 6 --><div id="preview-media-image" data-url="images/media/illustrations/images/Pixelated Self Portrait.jpg" data-title="" data-alt=""></div>

    <!-- Website image 7 --><div id="preview-media-image" data-url="images/media/illustrations/images/winter_scene.jpg" data-title="" data-alt=""></div>

    <!-- Website image 8 --><div id="preview-media-image" data-url="images/media/illustrations/images/clownfish animation.jpg" data-title="" data-alt=""></div>

    <!-- Website image 9 --><div id="preview-media-image" data-url="images/media/illustrations/images/ISE - Pac Pizza Race.jpg" data-title="" data-alt=""></div>

    <!-- Website image 10 --><div id="preview-media-image" data-url="images/media/illustrations/images/Frosty_Holiday_Card.jpg" data-title="" data-alt=""></div>

    <!-- Website image 11 --><div id="preview-media-image" data-url="images/media/illustrations/images/Hip.jpg" data-title="" data-alt=""></div>

    <!-- Website image 12 --><div id="preview-media-image" data-url="images/media/illustrations/images/cuckoo_clock_animation.jpg" data-title="" data-alt=""></div>

    <!-- Website image 13 --><div id="preview-media-image" data-url="images/media/illustrations/images/IOME logo.jpg" data-title="" data-alt=""></div>

    <!-- Website image 14 --><div id="preview-media-image" data-url="images/media/illustrations/images/iGadget_Worx_logo.jpg" data-title="" data-alt=""></div>

    <!-- Website image 15 --><div id="preview-media-image" data-url="images/media/illustrations/images/Nico_Jewels_logo.jpg" data-title="" data-alt=""></div>

    <!-- Website image 16 --><div id="preview-media-image" data-url="images/media/illustrations/images/Thesis still 1.jpg" data-title="" data-alt=""></div>

    <!-- Website image 17 --><div id="preview-media-image" data-url="images/media/illustrations/images/Twin Towers.jpg" data-title="" data-alt=""></div>


    <!-- END Website images -->

  </div>
</div>
<div class="preview-arrow-close">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-close-sign"></div>
</div>
<div class="preview-arrow-backward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-backward-sign"></div>
</div>
<div class="preview-arrow-forward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-forward-sign"></div>
</div>
<div class="preview-smartphone-info">
  <div class="preview-smartphone-info-backg opacity_1"></div>
  <span class="show_info">SHOW INFO</span>
  <span class="hide_info">HIDE INFO</span>
</div>

<!-- Right image description -->
<div id="full-width-preview-info-holder" class="module-position-rc">
  <div id="full-width-info-container" class="full-width-info-container shadow-side-left">
    <div class="full-width-info-holder">

      <!-- Right image description 1 -->
      <div class="full-width-info-holder-desc">
        <p>Whooping Crane</p>
        <div class="custom-separator"></div>
        <span>Medium: Flash, Illustrator</span>
        <span>Size: Vector</span>
        <span>Illustration of a Whooping Crane.</span>
      </div>

      <!-- Right image description 2 -->
      <div class="full-width-info-holder-desc">
        <p>QRLF Logo</p>
        <div class="custom-separator"></div>
        <span>Medium: Flash, Illustrator</span>
        <span>Size: Vector</span>
        <span>Published and Trademarked - QR Lost & Found company logo used on their website and social media pages.</span>
      </div>

      <!-- Right image description 3 -->
      <div class="full-width-info-holder-desc">
        <p>QRLF 8 Step Registration Process</p>
        <div class="custom-separator"></div>
        <span>Medium: Flash, Illustrator, InDesign</span>
        <span>Size: Vector</span>
        <span>Illustrated 35 vector elements to create an 8 step registration process for QR Lost & Found. Took a text heavy
          description, simplified it and visually explaind how the process works.</span>
        </div>

        <!-- Right image description 4 -->
        <div class="full-width-info-holder-desc">
          <p>QRLF step 6 closeup</p>
          <div class="custom-separator"></div>
          <span>Medium: Flash, Illustrator</span>
          <span>Size: Vector</span>
          <span>Close up of step 4 part of the QR Lost and Found registration process. I illustrated an iPhone, functional
            custom QR code to be attached to items and set of keys.</span>
          </div>

          <!-- Right image description 5 -->
          <div class="full-width-info-holder-desc">
            <p>QRLF 3 step found item process</p>
            <div class="custom-separator"></div>
            <span>Medium: Flash, Illustrator</span>
            <span>Size: Vector</span>
            <span>Illustrated 3 additional cells for QR Lost & Found depicting three ways to contact and send a user a found item.</span>
          </div>

          <!-- Right image description 6 -->
          <div class="full-width-info-holder-desc">
            <p>Pixelated Self Portrait</p>
            <div class="custom-separator"></div>
            <span>Medium: Flash, Photoshop</span>
            <span>Size: Vector</span>
            <span>Self portrait inspired by Seurat and Chuck Close. Using a photo as a guide, I created 484 various shades
              of skin, hair, shirt and white colored circles. All 484 colors have their own layers each layer having 3-3000
              circles making up my portrait.</span>
            </div>

            <!-- Right image description 7 -->
            <div class="full-width-info-holder-desc">
              <p>Winter Scene</p>
              <div class="custom-separator"></div>
              <span>Medium: Flash</span>
              <span>Size: Vector</span>
              <span>Winter illustration. Part of an Flash animation.</span>
            </div>

            <!-- Right image description 8 -->
            <div class="full-width-info-holder-desc">
              <p>Clownfish Animation</p>
              <div class="custom-separator"></div>
              <span>Medium: Flash, Sound Forge</span>
              <span>Size: Vector</span>
              <span>Still from a Flash animation. I illustrated the clownfish animating all its gills having it swim by,
                the seaweed swaying and did sound editing for the water ripples.</span>
              </div>

              <!-- Right image description 9 -->
              <div class="full-width-info-holder-desc">
                <p>ISE - Pac Pizza Race</p>
                <div class="custom-separator"></div>
                <span>Medium: Flash, Illustrator</span>
                <span>Size: Vector</span>
                <span>Still from a Flash animation I created for the International Securities Exchange.</span>
              </div>

              <!-- Right image description 10 -->
              <div class="full-width-info-holder-desc">
                <p>Frosty Holiday Card</p>
                <div class="custom-separator"></div>
                <span>Medium: Flash</span>
                <span>Size: Vector</span>
                <span>Still from a Flash animation I created which through ActionScript, got the mouse direction and animated the falling snow away from that direction.</span>
              </div>

              <!-- Right image description 11 -->
              <div class="full-width-info-holder-desc">
                <p>Hip</p>
                <div class="custom-separator"></div>
                <span>Medium: Experimental painting program dAb</span>
                <span>Size: 1024 x 1024</span>
                <span>Similar to Photoshop, dAb is a digital painting program that allows layering and drying of digital paint.
                  Using a Wacom pen, I illustrated a pet bird of mine.</span>
                </div>

                <!-- Right image description 12 -->
                <div class="full-width-info-holder-desc">
                  <p>Cuckoo Clock Animation still</p>
                  <div class="custom-separator"></div>
                  <span>Medium: Flash</span>
                  <span>Size: Vector</span>
                  <span>Still from a Flash animation. The animated clock gets the computer system clock time and the cuckoo bird animates out going cuckoo. </span>
                </div>

                <!-- Right image description 13 -->
                <div class="full-width-info-holder-desc">
                  <p>I.O.M.E. Logo</p>
                  <div class="custom-separator"></div>
                  <span>Medium: Flash, Illustrator</span>
                  <span>Size: Vector</span>
                  <span>Published - I.O.M.E. company logo used on website, all 52 cards I created and business cards. </span>
                </div>

                <!-- Right image description 14 -->
                <div class="full-width-info-holder-desc">
                  <p>iGadget Worx Logo</p>
                  <div class="custom-separator"></div>
                  <span>Medium: Illustrator</span>
                  <span>Size: Vector</span>
                  <span>Published - iGadget Worx company logo I redesigned for iPromo Worx.</span>
                </div>

                <!-- Right image description 15 -->
                <div class="full-width-info-holder-desc">
                  <p>Nico Jewels Logo</p>
                  <div class="custom-separator"></div>
                  <span>Medium: Illustrator</span>
                  <span>Size: Vector</span>
                  <span>Company logo I designed for Nico Jewels website.</span>
                </div>

                <!-- Right image description 16 -->
                <div class="full-width-info-holder-desc">
                  <p>Thesis still 1</p>
                  <div class="custom-separator"></div>
                  <span>Medium: Flash, Illustrator, Sound Forge</span>
                  <span>Size: Vector</span>
                  <span>Opening scene from my Flash Thesis animation. The full animation is 9 minutes and 45 seconds long and follows
                    a young roach's journey throughout Manhattan. It is a choose your own adventure story. Each time he is attacked, you
                    are given an option where to go and the story follows your chosen pathway.</span>
                  </div>

                  <!-- Right image description 17 -->
                  <div class="full-width-info-holder-desc">
                    <p>Twin Towers</p>
                    <div class="custom-separator"></div>
                    <span>Medium: Flash, Illustrator, Photoshop</span>
                    <span>Size: Vector</span>
                    <span>Still from a larger Flash Thesis animation. I wanted to capture the feeling of panning upwards, so I took 3
                      stationary photographs angling up to create this effect.</span>
                    </div>


                    <!-- END Image Descriptions -->
                  </div>
                </div>
              </div>
            </div><!-- end .full-width-preview" -->
          </div><!-- end #module-container -->
