<div id="module-container"><!-- start #module-container -->
  <div id="module-background-holder">
    <div id="module-background-solid1" class="opacity_0"></div>
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-full-width-gallery"  class="module-full-width-gallery " > <!-- .shadow-side-all-->
      <div id="module-full-width-holder">

        <!-- Thumbnail images -->

        <!--
        <div class="zoom-gallery"></div> - for images
        <div class="play-gallery"></div> - for videos
      -->

      <!-- Thumbnail image 1 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/paradise - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Paradise</p></div>
        </div>
      </div>

      <!-- Thumbnail image 2 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/crashing water - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Crashing Water</p></div>
        </div>
      </div>

      <!-- Thumbnail image 3 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/dusk - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Dusk</p></div>
        </div>
      </div>

      <!-- Thumbnail image 4 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/palm trees - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Palm Trees</p></div>
        </div>
      </div>

      <!-- Thumbnail image 5 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/cubist bird - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Cubist Bird</p></div>
        </div>
      </div>

      <!-- Thumbnail image 6 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/porthole - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Porthole</p></div>
        </div>
      </div>

      <!-- Thumbnail image 7 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/adam and the alien - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Adam and The Alien</p></div>
        </div>
      </div>

      <!-- Thumbnail image 8 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/seagull - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Seagull</p></div>
        </div>
      </div>

      <!-- Thumbnail image 9 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/Towers From Afar - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Towers From Afar</p></div>
        </div>
      </div>

      <!-- Thumbnail image 10 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/trees on ocean - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Trees on Ocean</p></div>
        </div>
      </div>

      <!-- Thumbnail image 11 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/waterfall - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Waterfall</p></div>
        </div>
      </div>

      <!-- Thumbnail image 12 -->
      <div class="full-width-item">
        <img src="images/media/paintings/thumbs/sunrise - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Sunrise</p></div>
        </div>
      </div>

      <!-- END Thumbnails -->

    </div>
  </div>

  <!-- end all Thumbnail code -->

</div>
<div id="module-scrollbar-holder_v2">
  <div id="module-scrollbar-background" class="opacity_8"></div>
  <div id="module-scrollbar-dragger"></div>
</div>

<div id="full-width-preview"><!-- start .full-width-preview" -->
  <div class="full-width-preview-background opacity_9_7"></div>
  <div id="full-width-preview-media-holder">
    <div class="full-width-preview-media-holder-background opacity_0"></div>
    <div class="full-width-preview-media-loader"></div>
    <div id="preview-media-holder">
      <!--<div id="link" data-url="http://www.google.com" data-target="_blank"></div>-->

      <!-- for video links:
      <div id="video-wrapper" data-video-type="vimeo" data-width="640" data-height="390"
      data-url="http://player.vimeo.com/video/31423544?portrait=0&color=ffffff"></div>
    -->

    <!-- Large website images -->

    <!-- Website image 1 --><div id="preview-media-image" data-url="images/media/paintings/images/paradise.jpg" data-title="" data-alt=""></div>

    <!-- Website image 2 --><div id="preview-media-image" data-url="images/media/paintings/images/crashing water.jpg" data-title="" data-alt=""></div>

    <!-- Website image 3 --><div id="preview-media-image" data-url="images/media/paintings/images/dusk.jpg" data-title="" data-alt=""></div>

    <!-- Website image 4 --><div id="preview-media-image" data-url="images/media/paintings/images/palm trees.jpg" data-title="" data-alt=""></div>

    <!-- Website image 5 --><div id="preview-media-image" data-url="images/media/paintings/images/cubist bird.jpg" data-title="" data-alt=""></div>

    <!-- Website image 6 --><div id="preview-media-image" data-url="images/media/paintings/images/porthole.jpg" data-title="" data-alt=""></div>

    <!-- Website image 7 --><div id="preview-media-image" data-url="images/media/paintings/images/adam and the alien.jpg" data-title="" data-alt=""></div>

    <!-- Website image 8 --><div id="preview-media-image" data-url="images/media/paintings/images/seagull.jpg" data-title="" data-alt=""></div>

    <!-- Website image 9 --><div id="preview-media-image" data-url="images/media/paintings/images/Towers From Afar.jpg" data-title="" data-alt=""></div>

    <!-- Website image 10 --><div id="preview-media-image" data-url="images/media/paintings/images/trees on ocean.jpg" data-title="" data-alt=""></div>

    <!-- Website image 11 --><div id="preview-media-image" data-url="images/media/paintings/images/waterfall.jpg" data-title="" data-alt=""></div>

    <!-- Website image 12 --><div id="preview-media-image" data-url="images/media/paintings/images/sunrise.jpg" data-title="" data-alt=""></div>


    <!-- END Website images -->

  </div>
</div>
<div class="preview-arrow-close">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-close-sign"></div>
</div>
<div class="preview-arrow-backward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-backward-sign"></div>
</div>
<div class="preview-arrow-forward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-forward-sign"></div>
</div>
<div class="preview-smartphone-info">
  <div class="preview-smartphone-info-backg opacity_1"></div>
  <span class="show_info">SHOW INFO</span>
  <span class="hide_info">HIDE INFO</span>
</div>

<!-- Right image description -->
<div id="full-width-preview-info-holder" class="module-position-rc">
  <div id="full-width-info-container" class="full-width-info-container shadow-side-left">
    <div class="full-width-info-holder">

      <!-- Right image description 1 -->
      <div class="full-width-info-holder-desc">
        <p>Paradise</p>
        <div class="custom-separator"></div>
        <span>Medium: Oil on Canvas Board</span>
        <span>Size: 22" x 28"</span>
        <span>Oil painting of a tropical island.</span>
      </div>

      <!-- Right image description 2 -->
      <div class="full-width-info-holder-desc">
        <p>Crashing Water</p>
        <div class="custom-separator"></div>
        <span>Medium: Oil on Canvas Board</span>
        <span>Size: 22" x 28"</span>
        <span>Oil painting of a cold artic scene.</span>
      </div>

      <!-- Right image description 3 -->
      <div class="full-width-info-holder-desc">
        <p>Dusk</p>
        <div class="custom-separator"></div>
        <span>Medium: Oil on Cancas</span>
        <span>Size: 22" x 30"</span>
        <span>Oil painting of dusk on a hillside.</span>
      </div>

      <!-- Right image description 4 -->
      <div class="full-width-info-holder-desc">
        <p>Palm Trees</p>
        <div class="custom-separator"></div>
        <span>Medium: Oil on Cancas</span>
        <span>Size: 20" x 30"</span>
        <span>Oil painting of palm trees in Hawaii.</span>
      </div>

      <!-- Right image description 5 -->
      <div class="full-width-info-holder-desc">
        <p>Cubist Bird</p>
        <div class="custom-separator"></div>
        <span>Medium: Oil on Cancas</span>
        <span>Size: 18" x 24"</span>
        <span>Oil painting of a cubist bird in the style of Picasso.</span>
      </div>

      <!-- Right image description 6 -->
      <div class="full-width-info-holder-desc">
        <p>Porthole</p>
        <div class="custom-separator"></div>
        <span>Medium: Oil on Canvas</span>
        <span>Size: 2' x 2'</span>
        <span>Oil painting looking out of a ship's porthole out onto the ocean.</span>
      </div>

      <!-- Right image description 7 -->
      <div class="full-width-info-holder-desc">
        <p>Adam and The Alien</p>
        <div class="custom-separator"></div>
        <span>Medium: Oil on Unstretched Canvas</span>
        <span>Size: 40" x 31"</span>
        <span>Oil I painted while in Italy of Michelangelo’s famous Sistine Chapel fresco of Adam touching God's finger.
          I took a modern approach to it and made God an alien.</span>
        </div>

        <!-- Right image description 8 -->
        <div class="full-width-info-holder-desc">
          <p>Seagull</p>
          <div class="custom-separator"></div>
          <span>Medium: Oil on Canvas</span>
          <span>Size: 18" x 24"</span>
          <span>Oil I painted depicting a peaceful white seagull.</span>
        </div>

        <!-- Right image description 9 -->
        <div class="full-width-info-holder-desc">
          <p>Towers From Afar</p>
          <div class="custom-separator"></div>
          <span>Medium: Oil on Canvas</span>
          <span>Size: 6'2" x 4'</span>
          <span>Commissioned oil painting. It was in memory of 9/11 with the Twin Towers in the background and Statue of Liberty.
            I painted this using photo reference in Long Beach LI using the jetty and seagulls angled towards to Twin Towers guiding
            the user's eye in that direction.</span>
          </div>

          <!-- Right image description 10 -->
          <div class="full-width-info-holder-desc">
            <p>Trees on Ocean</p>
            <div class="custom-separator"></div>
            <span>Medium: Oil on Canvas</span>
            <span>Size: 20" x 30"</span>
            <span>Old painting of a Hawaiian beach.</span>
          </div>

          <!-- Right image description 11 -->
          <div class="full-width-info-holder-desc">
            <p>Waterfall</p>
            <div class="custom-separator"></div>
            <span>Medium: Oil on Canvas</span>
            <span>Size: 41" x 28.5"</span>
            <span>Oil I painted depicting a peacful waterfall surrounded by trees with flowers.</span>
          </div>

          <!-- Right image description 12 -->
          <div class="full-width-info-holder-desc">
            <p>Sunrise</p>
            <div class="custom-separator"></div>
            <span>Medium: Oil on Canvas</span>
            <span>Size: ??</span>
            <span>Oil I painted depicting sunrise on a hillside.</span>
          </div>

          <!-- END Image Descriptions -->
        </div>
      </div>
    </div>
  </div><!-- end .full-width-preview" -->
</div><!-- end #module-container -->
