<div id="module-container"><!-- start #module-container -->
  <div id="module-background-holder">
    <div id="module-background-solid1" class="opacity_0"></div>
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-full-width-gallery"  class="module-full-width-gallery " > <!-- .shadow-side-all-->
      <div id="module-full-width-holder">

        <!-- Thumbnail images -->

        <!--
        <div class="zoom-gallery"></div> - for images
        <div class="play-gallery"></div> - for videos
      -->

      <!-- Thumbnail image 1 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/Home_Buying_Infographic - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Home Buying Infographic</p></div>
        </div>
      </div>

      <!-- Thumbnail image 2 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/Investment_Proposal_Infographic - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Investment Proposal Infographic</p></div>
        </div>
      </div>

      <!-- Thumbnail image 3 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/Financial_Eye_postcard - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Financial Eye Postcard</p></div>
        </div>
      </div>

      <!-- Thumbnail image 4 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/Financial_Injection_postcard - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Financial Injection Postcard</p></div>
        </div>
      </div>

      <!-- Thumbnail image 5 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/Psychotherapy Conference Poster - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Psychotherapy Conference Poster</p></div>
        </div>
      </div>

      <!-- Thumbnail image 6 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/IOME card E-151 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>I.O.M.E card E-151</p></div>
        </div>
      </div>

      <!-- Thumbnail image 7 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/IOME card E-100 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>I.O.M.E ard E-100</p></div>
        </div>
      </div>

      <!-- Thumbnail image 8 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/IOME card E-154 - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>I.O.M.E card E-154</p></div>
        </div>
      </div>

      <!-- Thumbnail image 9 -->
      <div class="full-width-item">
        <img src="images/media/print/thumbs/74th_street_magic - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>74th Street Magic Poster</p></div>
        </div>
      </div>

      <!-- END Thumbnails -->

    </div>
  </div>

  <!-- end all Thumbnail code -->

</div>
<div id="module-scrollbar-holder_v2">
  <div id="module-scrollbar-background" class="opacity_8"></div>
  <div id="module-scrollbar-dragger"></div>
</div>

<div id="full-width-preview"><!-- start .full-width-preview" -->
  <div class="full-width-preview-background opacity_9_7"></div>
  <div id="full-width-preview-media-holder">
    <div class="full-width-preview-media-holder-background opacity_0"></div>
    <div class="full-width-preview-media-loader"></div>
    <div id="preview-media-holder">
      <!--<div id="link" data-url="http://www.google.com" data-target="_blank"></div>-->

      <!-- for video links:
      <div id="video-wrapper" data-video-type="vimeo" data-width="640" data-height="390"
      data-url="http://player.vimeo.com/video/31423544?portrait=0&color=ffffff"></div>
    -->

    <!-- Large website images -->

    <!-- Website image 1 --><div id="preview-media-image" data-url="images/media/print/images/Home_Buying_Infographic.jpg" data-title="" data-alt="Custom Alt 4"></div>

    <!-- Website image 2 --><div id="preview-media-image" data-url="images/media/print/images/Investment_Proposal_Infographic.jpg" data-title="" data-alt=""></div>

    <!-- Website image 3 --><div id="preview-media-image" data-url="images/media/print/images/Financial_Eye_postcard.jpg" data-title="" data-alt="Custom Alt 4"></div>

    <!-- Website image 4 --><div id="preview-media-image" data-url="images/media/print/images/Financial_Injection_postcard.jpg" data-title="" data-alt=""></div>

    <!-- Website image 5 --><div id="preview-media-image" data-url="images/media/print/images/Psychotherapy Conference Poster.jpg" data-title="" data-alt=""></div>

    <!-- Website image 6 --><div id="preview-media-image" data-url="images/media/print/images/IOME card E-151.jpg" data-title="" data-alt=""></div>

    <!-- Website image 7 --><div id="preview-media-image" data-url="images/media/print/images/IOME card E-100.jpg" data-title="" data-alt=""></div>

    <!-- Website image 8 --><div id="preview-media-image" data-url="images/media/print/images/IOME card E-154.jpg" data-title="" data-alt=""></div>

    <!-- Website image 9 --><div id="preview-media-image" data-url="images/media/print/images/74th_street_magic.jpg" data-title="" data-alt=""></div>


    <!-- END Website images -->

  </div>
</div>
<div class="preview-arrow-close">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-close-sign"></div>
</div>
<div class="preview-arrow-backward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-backward-sign"></div>
</div>
<div class="preview-arrow-forward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-forward-sign"></div>
</div>
<div class="preview-smartphone-info">
  <div class="preview-smartphone-info-backg opacity_1"></div>
  <span class="show_info">SHOW INFO</span>
  <span class="hide_info">HIDE INFO</span>
</div>

<!-- Right image description -->
<div id="full-width-preview-info-holder" class="module-position-rc">
  <div id="full-width-info-container" class="full-width-info-container shadow-side-left">
    <div class="full-width-info-holder">

      <!-- Right image description 1 -->
      <div class="full-width-info-holder-desc">
        <p>Home Buying Infographic</p>
        <div class="custom-separator"></div>
        <span>Medium: Illustrator</span>
        <span>Size: 10" x 22"</span>
        <span>Home Buying Infographic.</span>
      </div>

      <!-- Right image description 2 -->
      <div class="full-width-info-holder-desc">
        <p>Investment Proposal Infographic</p>
        <div class="custom-separator"></div>
        <span>Medium: Illustrator</span>
        <span>Size: 8.5" x 11"</span>
        <span>Investment Proposal Infographic.</span>
      </div>

      <!-- Right image description 3 -->
      <div class="full-width-info-holder-desc">
        <p>Financial Eye Postcard</p>
        <div class="custom-separator"></div>
        <span>Medium: Photoshop, InDesign</span>
        <span>Size: 4" x 6"</span>
        <span>Financial Eye Postcard.</span>
      </div>

      <!-- Right image description 4 -->
      <div class="full-width-info-holder-desc">
        <p>Financial Injection Postcard</p>
        <div class="custom-separator"></div>
        <span>Medium: Photoshop, InDesign</span>
        <span>Size: 4" x 6"</span>
        <span>Financial Injection Postcard.</span>
      </div>

      <!-- Right image description 5 -->
      <div class="full-width-info-holder-desc">
        <p>Psychotherapy Conference Poster</p>
        <div class="custom-separator"></div>
        <span>Medium: Flash, Illustrator</span>
        <span>Size: 60" x 36"</span>
        <span>Poster I designed for Dr. Myra Weiss who gave a psychotherapy conference at the University of Massachusetts.
          Drew everything but logo. Made the design look and feel like her meditation CD's and made copy fit.</span>
        </div>

        <!-- Right image description 6 -->
        <div class="full-width-info-holder-desc">
          <p>Kohl Capital Associates Banner</p>
          <div class="custom-separator"></div>
          <span>Medium: Illustrator</span>
          <span>Size: 48" x 24.5"</span>
          <span>Kohl Capital Associates Banner used in a conference.</span>
        </div>

        <!-- Right image description 7 -->
        <div class="full-width-info-holder-desc">
          <p>I.O.M.E card E-151</p>
          <div class="custom-separator"></div>
          <span>Medium: Flash, Illustrator, Photoshop</span>
          <span>Size: 5" x 7"</span>
          <span>Published greeting card #E-151 for Inspirations and Observations Mindfully Expressed. One of 52 published cards.</span>
        </div>

        <!-- Right image description 8 -->
        <div class="full-width-info-holder-desc">
          <p>I.O.M.E card E-100.jpg</p>
          <div class="custom-separator"></div>
          <span>Medium: Flash, Illustrator, Photoshop</span>
          <span>Size: 5" x 7"</span>
          <span>Published greeting card #E-100 for Inspirations and Observations Mindfully Expressed. One of 52 published cards.</span>
        </div>

        <!-- Right image description 9 -->
        <div class="full-width-info-holder-desc">
          <p>I.O.M.E card E-154</p>
          <div class="custom-separator"></div>
          <span>Medium: Flash, Illustrator, Photoshop</span>
          <span>Size: 5" x 7"</span>
          <span>Published greeting card #E-154 for Inspirations and Observations Mindfully Expressed. One of 52 published cards.</span>
        </div>

        <!-- Right image description 10 -->
        <div class="full-width-info-holder-desc">
          <p>74th Street Magic Poster</p>
          <div class="custom-separator"></div>
          <span>Medium: Photoshop, Illustrator, InDesign</span>
          <span>Size: 7" x 10"</span>
          <span>Poster I updated from the prior design with new photographs, text and background art.</span>
        </div>

        <!-- Right image description 11 -->
        <div class="full-width-info-holder-desc">
          <p>Yankees Vs Boston Poster</p>
          <div class="custom-separator"></div>
          <span>Medium: Photoshop, Illustrator, InDesign</span>
          <span>Size: 6" x 8.5"</span>
          <span>Unpublished poster I designed.</span>
        </div>

        <!-- Right image description 12 -->
        <div class="full-width-info-holder-desc">
          <p>Ford Ad</p>
          <div class="custom-separator"></div>
          <span>Medium: Photoshop, Illustrator, InDesign</span>
          <span>Size: 36" x 24"</span>
          <span>Unpublished Ford Ad for a concept car.</span>
        </div>

        <!-- END Image Descriptions -->
      </div>
    </div>
  </div>
</div><!-- end .full-width-preview" -->
</div><!-- end #module-container -->
