<div id="module-container"><!-- start #module-container -->
  <div id="module-background-holder">
    <div id="module-background-solid1" class="opacity_0"></div>
  </div>
  <div id="module-container-holder" class="module-position-lc"  data-id="module-position-lc">
    <div id="module-full-width-gallery"  class="module-full-width-gallery " > <!-- .shadow-side-all-->
      <div id="module-full-width-holder">

        <!-- Thumbnail images -->

        <!--
        <div class="zoom-gallery"></div> - for images
        <div class="play-gallery"></div> - for videos
      -->

      <!-- Thumbnail image 1 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/France_Iann_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>France Iann website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 2 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/Longitude_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Longitude website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 3 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/Kohl_Capital_Associates_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Kohl Capital Associates website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 4 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/J._Gold_&_Co_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>J. Gold & Co. Photography website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 5 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/Nico_jewels_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Nico Jewels website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 6 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/IOME_online_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>I.O.M.E. website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 7 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/IGT_Marketing_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>IGT Marketing website splash screen</p></div>
        </div>
      </div>

      <!-- Thumbnail image 8 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/Next_Level_Global_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Next Level Global website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 9 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/Errico_Studio_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Errico Studio website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 10 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/The_Little_Black_Dress_Girlz - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>The Little Black Dress Girlz website</p></div>
        </div>
      </div>

      <!-- Thumbnail image 11 -->
      <div class="full-width-item">
        <img src="images/media/web/thumbs/Child_Care_Fund_online_registration_website - thumb.jpg" class="opacity_0"  alt=""  />
        <div id="thumb-image-hover" class="hover-default">
          <div class="background opacity_6"></div>
          <div class="zoom-gallery"></div>
          <div class="item-title"><p>Child Care Fund online registration website</p></div>
        </div>
      </div>

      <!-- END Thumbnails -->

    </div>
  </div>

  <!-- end all Thumbnail code -->

</div>
<div id="module-scrollbar-holder_v2">
  <div id="module-scrollbar-background" class="opacity_8"></div>
  <div id="module-scrollbar-dragger"></div>
</div>

<div id="full-width-preview"><!-- start .full-width-preview" -->
  <div class="full-width-preview-background opacity_9_7"></div>
  <div id="full-width-preview-media-holder">
    <div class="full-width-preview-media-holder-background opacity_0"></div>
    <div class="full-width-preview-media-loader"></div>
    <div id="preview-media-holder">
      <!--<div id="link" data-url="http://www.google.com" data-target="_blank"></div>-->

      <!-- for video links:
      <div id="video-wrapper" data-video-type="vimeo" data-width="640" data-height="390"
      data-url="http://player.vimeo.com/video/31423544?portrait=0&color=ffffff"></div>
    -->

    <!-- Large website images -->

    <!-- Website image 1 --><div id="preview-media-image" data-url="images/media/web/images/France_Iann_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 2 --><div id="preview-media-image" data-url="images/media/web/images/Longitude_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 3 --><div id="preview-media-image" data-url="images/media/web/images/Kohl_Capital_Associates_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 4 --><div id="preview-media-image" data-url="images/media/web/images/J._Gold_&_Co_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 5 --><div id="preview-media-image" data-url="images/media/web/images/Nico_jewels_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 6 --><div id="preview-media-image" data-url="images/media/web/images/IOME_online_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 7 --><div id="preview-media-image" data-url="images/media/web/images/IGT_Marketing_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 8 --><div id="preview-media-image" data-url="images/media/web/images/Next_Level_Global_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 9 --><div id="preview-media-image" data-url="images/media/web/images/Errico_Studio_website.jpg" data-title="" data-alt=""></div>

    <!-- Website image 10 --><div id="preview-media-image" data-url="images/media/web/images/The_Little_Black_Dress_Girlz.jpg" data-title="" data-alt=""></div>

    <!-- Website image 11 --><div id="preview-media-image" data-url="images/media/web/images/Child_Care_Fund_online_registration_website.jpg" data-title="" data-alt=""></div>

    <!-- END Website images -->

  </div>
</div>
<div class="preview-arrow-close">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-close-sign"></div>
</div>
<div class="preview-arrow-backward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-backward-sign"></div>
</div>
<div class="preview-arrow-forward">
  <div class="preview-arrow-backg opacity_2"></div>
  <div class="preview-arrow-forward-sign"></div>
</div>
<div class="preview-smartphone-info">
  <div class="preview-smartphone-info-backg opacity_1"></div>
  <span class="show_info">SHOW INFO</span>
  <span class="hide_info">HIDE INFO</span>
</div>

<!-- Right image description -->
<div id="full-width-preview-info-holder" class="module-position-rc">
  <div id="full-width-info-container" class="full-width-info-container shadow-side-left">
    <div class="full-width-info-holder">

      <!-- Right image description 1 -->
      <div class="full-width-info-holder-desc">
        <p>France Iann website</p>
        <div class="custom-separator"></div>
        <span>Medium: Photoshop, Dreamweaver.</span>
        <span>Size: website</span>
        <span>Website I created for an actress. Did all photo retouching, image creation, Dreamweaver and hand coding as well as video recording for acting reels.</span>
        <span>View website: <a href="http://www.franceiann.com" target="_blank">www.franceiann.com</a></span>
      </div>

      <!-- Right image description 2 -->
      <div class="full-width-info-holder-desc">
        <p>Longitute website</p>
        <div class="custom-separator"></div>
        <span>Medium: Photoshop, Dreamweaver.</span>
        <span>Size: website</span>
        <span>Website I created for the International Secutities Exchange (ISE). Used graphics and video provided, sized and coded for the web.</span>
        <span>View website: <a href="http://www.longitude.com" target="_blank">www.longitude.com</a></span>
      </div>

      <!-- Right image description 3 -->
      <div class="full-width-info-holder-desc">
        <p>Kohl Capital Associates website</p>
        <div class="custom-separator"></div>
        <span>Medium: Photoshop, Dreamweaver, Flash.</span>
        <span>Size: website</span>
        <span>Website I created for the mortgage company Kohl Capital Associates. They provided copy and a few photographcs and I did all photo editing,
          image creation, coding (except for back-end contact page) and Flash animation.</span>
          <span>View website: <a href="http://www.kohlcapital.com/" target="_blank">www.kohlcapital.com</a></span>
        </div>

        <!-- Right image description 4 -->
        <div class="full-width-info-holder-desc">
          <p>J. Gold & Co. Photography website</p>
          <div class="custom-separator"></div>
          <span>Medium: Photoshop, Dreamweaver.</span>
          <span>Size: website</span>
          <span>Website I created for a high end jewelry photographer for Macy's. Was live from 9/04 – 2/09. Responsible for all coding & assistant design.</span>
          <span>View website: Offline.</span>
        </div>

        <!-- Right image description 5 -->
        <div class="full-width-info-holder-desc">
          <p>Nico Jewels website</p>
          <div class="custom-separator"></div>
          <span>Medium: Photoshop, Dreamweaver, Flash.</span>
          <span>Size: website</span>
          <span>Website I created for a jewelry designer. Was live in 2005. Responsible for company logo design, all web coding, design, Flash animation and
            ActionScript.</span>
            <span>View website: Offline.</span>
          </div>

          <!-- Right image description 6 -->
          <div class="full-width-info-holder-desc">
            <p>I.O.M.E. website</p>
            <div class="custom-separator"></div>
            <span>Medium: Photoshop, Dreamweaver, Flash.</span>
            <span>Size: website</span>
            <span>Website I created for Inspirations and Observations Mindfully Expressed. Created Flash animated splash screen, ActionScripting, and pages which sold all 52
              greeting cards I created for them.</span>
              <span>View website: Offline.</span>
            </div>

            <!-- Right image description 7 -->
            <div class="full-width-info-holder-desc">
              <p>IGT Marketing website splash screen</p>
              <div class="custom-separator"></div>
              <span>Medium: Photoshop, Dreamweaver, Flash.</span>
              <span>Size: website</span>
              <span>Created Flash animated company logo splash page along with a Flash menu which linked to 4 preexisting sub-pages.</span>
              <span>View website: Offline.</span>
            </div>

            <!-- Right image description 8 -->
            <div class="full-width-info-holder-desc">
              <p>Next Level Global website</p>
              <div class="custom-separator"></div>
              <span>Medium: Photoshop, Dreamweaver, Flash, Sound Forge.</span>
              <span>Size: website</span>
              <span>Website I created for DJ Kay Slay from Hot 97. It was a promotional website sponcered by Russell Simmons. Created numerous Flash animations,
                did sound editing, illustration, photo retouching, HTML and ActionScripting.</span>
                <span>View website: Offline.</span>
              </div>

              <!-- Right image description 9 -->
              <div class="full-width-info-holder-desc">
                <p>Errico Studio portfolio website</p>
                <div class="custom-separator"></div>
                <span>Medium: Photoshop, Dreamweaver, Flash</span>
                <span>Size: website</span>
                <span>Website redesign I created to food photographer. Sized photographs for the web, animated all images in Flash in his Flash portfolio and kept track of website
                  files on the server.</span>
                  <span>View website: Offline.</span>
                </div>

                <!-- Right image description 10 -->
                <div class="full-width-info-holder-desc">
                  <p>The Little Black Dress Girlz website</p>
                  <div class="custom-separator"></div>
                  <span>Medium: Photoshop, Dreamweaver, Flash.</span>
                  <span>Size: website</span>
                  <span>Website I created to promote a book series called The Little Black Dress Girlz. Took graphics provided and created Flash animations, web graphics and HTML
                    coding for website.</span>
                    <span>View website: Offline.</span>
                  </div>

                  <!-- Right image description 11 -->
                  <div class="full-width-info-holder-desc">
                    <p>Child Care Fund online registration website</p>
                    <div class="custom-separator"></div>
                    <span>Medium: Photoshop, Dreamweaver, Flash.</span>
                    <span>Size: website</span>
                    <span>Website tutorial I created for the Child Care Fund organization. It was an online tutorial showing parents how to register their children
                      through a 14 page Flash animated tutorial using animated stills of existing Child Care Fund website, so all colors had to match. Using the stills,
                      I animated the mouse pointer to detailed audio descriptions for each page and created a PDF printable version.</span>

                      <span>Did image optimization for quick file download with Flash preloader, Flash animation and audio editing.</span>

                      <span>View website: Offline.</span>
                    </div>

                    <!-- END Image Descriptions -->
                  </div>
                </div>
              </div>
            </div><!-- end .full-width-preview" -->
          </div><!-- end #module-container -->
